[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FIESTA"]
	path = FIESTA
	url = https://github.com/usdaforestservice/fiesta
[submodule "FIESTAutils"]
	path = FIESTAutils
	url = https://github.com/usdaforestservice/fiestautils
[submodule "gdalraster"]
	path = gdalraster
	url = https://github.com/usdaforestservice/gdalraster
